body{
  font-family: 'Oxygen', sans-serif;
  background: #000000;
  color:white;
  line-height:1.3;
}

/*new styles*/

.container {
   width:100%;
}

.container .row {
   margin:0;
}

.row .col { 
  padding:0;
}

#controls {
  margin: 10px 0;
}

#controls span {
  padding: 5px;
  background: cornflowerblue;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  font-family: tahoma;
  font-size: 12px;
}

#album-art {
    width: 100%;
    display: block;
    background: url('../images/noart.jpg');
    background-size:cover !important;
	background-position:center !important;
    height:500px;
    
}

#playlist {
    margin-top: -50px;
    background: #000;
    position: relative;
    z-index: 1;
    width: 100%;
    height:auto;
    min-height: 300px;
}

#playlist li {
    border-bottom: 1px dotted #ecebe8;
    padding:12px;
    cursor: pointer;
}

#playlist span {
    padding:0 3px;
    font-size:12px;
    color:grey;
}

#playlist .title {
    margin:0;
    margin-bottom:-1px;
}

#play-controls {
    margin-top: 10px;
}

#play-controls span {
    cursor: pointer;
}

#playing-title {
  font-weight: bold;
}

#now-playing {
    width: 100%;
	max-width:1280px;
    height: 66px;
    position: fixed;
    bottom: 0;
    background: #1a1a1a;
    z-index: 1000;
    padding: 12px;
}

#now-playing i {
    color:white;
}

#now-playing-info {
   margin-top: 2px;
}

#shuffle-play {
    position: relative;
    z-index: 100;
	display:block;
	margin:0 50px;
	top:-25px;
}

#shuffle-play .button {
    background: #84bd00;
    padding: 12px;
    width: 100%;
	max-width:320px;
    text-align: center;
	margin:0 auto;
    border-radius: 20px;
    cursor: pointer;
}


#playlist .active {
  color: #84bd00;
}

#next-prev {
  position:absolute;
  display:block;
  top:20%;
  width: 100%;
  padding:20px;
  max-width:1280px;
  z-index:999;
}

#next-prev div {
  cursor: pointer;
  color: #828282;
}

@media screen and (max-width: 480px) {
	
#album-art {
    height:400px;  
	max-height:400px;
}

		
}

@media screen and (max-width: 360px) {
	
#album-art {
    height:300px;  
	max-height:300px;
}

#next-prev {
  top:12%;
}

		
}
	


